<div class="glass-panel p-4 mb-4">
  <h3 class="mb-3 text-light">Registrar Cita</h3>

  <form [formGroup]="citaForm" (ngSubmit)="guardar()">
    <!-- Mascotas Name Input -->
    <div class="form-group mb-3">
      <input class="form-control" placeholder="Nombre de la Mascota" formControlName="mascota">
    </div>

    <!-- Especie Select Dropdown -->
    <div class="form-group mb-3">
      <select class="form-control" formControlName="especie">
        <option value="">Seleccione Especie / Tipo</option>
        <option *ngFor="let esp of especies" [value]="esp">
          {{ esp }}
        </option>
      </select>
    </div>

    <!-- Owner Input -->
    <div class="form-group mb-3">
      <input class="form-control" placeholder="Nombre del Dueño" formControlName="dueno">
    </div>

    <!-- Veterinarios Select -->
    <div class="form-group mb-3">
      <select class="form-control" formControlName="veterinario">
        <option value="">Seleccione Veterinario</option>
        <option *ngFor="let v of veterinarios" [value]="v">
          {{ v }}
        </option>
      </select>
    </div>

    <!-- Date Input -->
    <div class="form-group mb-3">
      <label class="form-label" style="font-size: 0.75rem;">Fecha de la Cita</label>
      <input class="form-control" type="date" formControlName="fecha">
    </div>

    <!-- Time Input -->
    <div class="form-group mb-3">
      <label class="form-label" style="font-size: 0.75rem;">Hora de la Cita</label>
      <input class="form-control" type="time" formControlName="hora">
    </div>

    <!-- Motivo Input -->
    <div class="form-group mb-3">
      <input class="form-control" placeholder="Motivo de la consulta" formControlName="motivo">
    </div>

    <button [disabled]="citaForm.invalid" class="btn btn-primary w-100" type="submit">
      Guardar Cita
    </button>
  </form>
</div>